.idea/
.venv/
__pycache__/
Location_*/scenarios/*.out
Location_*/scenarios/*.err
Location_*/plans/*.out
Location_*/plans/*.err
Location_*/plans/*.txt
Location_*/evaluations/*.txt
Location_*/evaluations/*.out
Location_*/evaluations/*.err
